header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #CED2DA;
    padding: 20px 0;
}

header>div {
    width: 80%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-menu-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-menu-item>a {
    font-family: "Inter", serif;
    font-size: 16px;
    text-decoration: none;
    color: #344051;
}