* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    width: 100%;
    position: fixed;
    background: white;
}

#container {
    width: 80%;
    height: 100000px;
    background: royalblue;
}